
body{
    background-color: aquamarine;
}
h1{
    text-align: center;
}


h1 {
    color: #0c004a;
    font-size: 32px;
    text-align: center;
}

h2 {
    color: #1b00a2;
    font-size: 24px;
}

ul {
    line-height: 1;
}

ul li {
    margin: 10px 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #00b4ba;
    color: #ffffff;
    margin: 0;
    padding: 20px;
}

p {
    font-size: 18px;
    text-align: justify;
    margin-bottom: 20px;
}

.poga {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.poga1 {
  background-color: white;
  color: black;
  border: 2px solid #04AA6D;
}

.poga1:hover {
  background-color: #04AA6D;
  color: white;
}

.poga2 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.poga2:hover {
  background-color: #008CBA;
  color: white;
}