
body{
    background-color: aquamarine;
}
h1{
    text-align: center;
}


h1 {
    color: #0c004a;
    font-size: 32px;
    text-align: center;
}

h2 {
    color: #1b00a2;
    font-size: 24px;
}

ul {
    line-height: 1;
}

ul li {
    margin: 10px 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #00b4ba;
    color: #ffffff;
    margin: 0;
    padding: 20px;
}

p {
    font-size: 18px;
    text-align: justify;
    margin-bottom: 20px;
}
